<!DOCTYPE html>
<html lang="en" data-bs-theme="auto">
  <head>
    <%- header %>
    <link rel="stylesheet" href="./styles/welcome.less" />
  </head>

  <body id="app" v-cloak>
    <!-- Vue 应用挂载点 -->
  </body>

  <!-- WELCOME_LOCALES_INLINE_PLACEHOLDER -->

  <script type="module">
    import { createApp } from 'vue'
    import { initApp } from './init'
    import Welcome from './views/Welcome.vue'

    const app = createApp(Welcome)
    initApp(app)
  </script>
</html>

